# **Importing libraries**

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

print("Matplotlib version:", matplotlib.__version__)

# **Basic plots with Python lists and NumPy arrays**

# One of the simplest plot types you can create is a line chart, and you can define your data using either Python lists or NumPy arrays.

# To illustrate this, let's generate two sets of data, 'x' and 'y', each containing values from 1 to 7.

In [ ]:
#x = Your code to create list x with values  [1, 2, 3, 4, 5, 6, 7]
#y = Your code to create a list with values  [1, 2, 3, 4, 5, 6, 7]

plt.plot(x, y)

# We could add colour to the plot

In [ ]:
plt.plot(x, y, color='red')

# You can display plots with different line style

In [ ]:
plt.plot(x, y, linestyle='dotted')

# You can specify the width of the line

In [ ]:
plt.plot(y, linestyle='-.', linewidth=5);

# You can view matplotlib.lines.lineStyles to see what line styles are available.

In [ ]:
matplotlib.lines.lineStyles

# You can display multiple lines on the same plot by calling the plot function multiple times.

In [ ]:
# Your code to create a list y1 with values [1, 2, 3, 4, 5]
# Your code to create a list y2 with values [2, 5, 9, 13, 18]

plt.plot(y1)
plt.plot(y2)

# You can also pass multiple sets of x and y data points to the plot function at once.

In [ ]:
x1 = [1, 2, 3, 4, 5]
y1 = [1, 2, 3, 4, 5]
x2 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
x3 = [1, 2, 3, 4, 5]
y3 = [2, 4, 6, 8, 10]

plt.plot(x1, y1, x2, y2, x3, y3)

# You can also control the markers used to plot each data point.

In [ ]:
y = [2, 5, 9, 13, 18]

plt.plot(y, marker='o');  # That's the lowercase letter 'o'

# You can select different markers.

# Use the following link to get the list of markers.
https://matplotlib.org/stable/api/markers_api.html

# You can see all of the different marker styles using matplotlib.markers.MarkerStyle.markers

# In the next cell, print the available markers

In [ ]:
# Your code to print available markers

In [ ]:
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]

plt.plot(y1, marker='s')  # square marker

# Your code to plot y2 with the diamond marker

# You can also change the marker size.

In [ ]:
y = [2, 5, 9, 13, 18]

plt.plot(y, marker='o', markersize=12);

# You can also change the marker edge color and face color.

In [ ]:
plt.plot(y, marker='o', markersize=12, markeredgecolor='red', markerfacecolor='yellow');

# You can plot functions

In [ ]:
x = np.linspace(start=0, stop=10, num=100)
y = np.sin(2*x)

plt.plot(x, y);

In [ ]:
# Your code to plot cos (x) function

# We can add axis labels to a chart using the xlabel and ylabel functions. Let's modify our data to plot month abbreviations on the x-axis and fictional sales figures on the y-axis.

In [ ]:
# Your code to create a list x with values ['Jan', 'Feb', 'March', 'Apr', 'May']
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
y3 = [2, 4, 6, 8, 10]

plt.plot(x, y1, x, y2, x, y3)
plt.xlabel('Month')
plt.ylabel('Sales')

# Could we add a title to the whole chart?

In [ ]:
x = ['Jan', 'Feb', 'March', 'Apr', 'May']
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
y3 = [2, 4, 6, 8, 10]

plt.plot(x, y1, x, y2, x, y3)

# Your code to print label 'Month of the year' in x axis
# Your code to print label 'Total Sales' in y axis

plt.title('Monthly Sales')

# In the above plot, we do not know which line represnets what.

# So, lets add legends to the plot.

In [ ]:
x = ['Jan', 'Feb', 'March', 'Apr', 'May']
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
y3 = [2, 4, 6, 8, 10]

plt.plot(x, y1, x, y2, x, y3)

plt.xlabel('Month')
plt.ylabel('Sales')

# Your code to print title of the graph 'Monthly sales'

plt.legend(labels=['Alice', 'Bob', 'Carol'], loc='upper left');

# Let's add markers and grid lines to make the plot read easier.

In [ ]:
x = ['Jan', 'Feb', 'March', 'Apr', 'May']
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
y3 = [2, 4, 6, 8, 10]

# Your code to plot y1, y2, y3, wrt. x
# Your code to print label in x axis
# Your code to print label in y axis
# Your code to rint title of the plot
plt.legend(labels=['Alice', 'Bob', 'Carol'], loc='upper left')
plt.grid(True);

# Refer to the documentation at matplotlib.pyplot.grid to explore all the optional parameters you can use to control the style of the grid lines.

# Note: You can achieve the same using code. What code should you write?

# To get an idea of the possibilities, let's modify the color, line thickness, and alpha to make the gridlines more transparent.

In [ ]:
x = ['Jan', 'Feb', 'March', 'Apr', 'May']
y1 = [1, 2, 3, 4, 5]
y2 = [2, 5, 9, 13, 18]
y3 = [2, 4, 6, 8, 10]

plt.plot(x, y1, x, y2, x, y3, marker='o')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.title('Monthly Sales')

# Your code to print labels ['Alice', 'Bob', 'Carol'] in the upper right location

plt.grid(color='blue', alpha=0.1, linewidth=3);

# Another good way to make your chart more readable is to simply make it bigger.

# We do that in Matplotlib using the pyplot.figure function.

In [ ]:
fig = plt.figure(figsize=(12, 6))

plt.plot(x, y1, x, y2, x, y3, marker='o')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.title('Monthly Sales')
plt.legend(labels=['Alice', 'Bob', 'Carol'], loc='upper left')
plt.grid(True)

# **Bar Plots**

# Starting from this section onward, let's import some real-world data.

# We'll utilize data from the Titanic dataset. Please refrain from manually opening the CSV file

In [ ]:
from google.colab import files
uploaded = files.upload()

# Note - If you are using Anaconda, then do not need this code

# Let's read the file using Pandas. You're familiar with the command.

# Please write the command and print the first 5 rows in the next cell.

In [ ]:
# Your code to read the titanic.csv file using pandas

# Your code to print first 5 rows of the file. How will you print first 10 rows.

# Let's count the values in the 'Embarked' column and create a plot for it.

# Are you familiar with the method for counting values? Please write it in the next cell.

In [ ]:
# embarked = Your Code to count items in Embarked column. Remember, value_counts() function.

#print(embarked.index)     # these will be our bar labels
#print(embarked.values)    # these will be the heights of the bars

# Now, we can create a bar plot using the matplotlib.pyplot.bar class.

In [ ]:
plt.bar(x=embarked.index, height=embarked.values)

# We can also specify a list of colors to apply to each bar.

In [ ]:
plt.bar(x=embarked.index, height=embarked.values, color=['blue', 'green', 'red']);

# We can also create a horizontal bar plot using the barh function,

# Note: We need to set the x and y axis accordingly

In [ ]:
plt.barh(y=embarked.index, width=embarked.values, color=['blue', 'green', 'red'])

# To create stacked bar plots, we can divide the embarked data into two groups: one for men and one for women.

# What should the output of the following piece of code be?

In [ ]:
#Before running the code, guess the output of following 2 lines

embarked_m = titanic_df[titanic_df['Sex']=='male']['Embarked'].value_counts()
embarked_f = titanic_df[titanic_df['Sex']=='female']['Embarked'].value_counts()
print(embarked_m)
print(embarked_f)

# To stack the bars, we first plot one set of data conventionally. Then, we instruct Matplotlib to stack the other set on top by using the 'bottom' parameter. This parameter specifies the y-coordinate of the bar bases."

In [ ]:
plt.bar(x=embarked_m.index, height=embarked_m.values, color='blue')
plt.bar(x=embarked_f.index, height=embarked_f.values, bottom=embarked_m.values, color='red');

# Finally, we can use the same functions that we saw before to provide axis labels, a title, and a plot legend.

In [ ]:
plt.bar(x=embarked_m.index, height=embarked_m.values, color='blue', width=0.75)
plt.bar(x=embarked_f.index, height=embarked_f.values, bottom=embarked_m.values, color='red', width=0.75)

plt.xlabel('Port')
plt.ylabel('Passengers')
plt.title('Port of Embarkation by Sex')
plt.legend(labels=['M', 'F'])

# We can use Matplotlib's hist function to display a frequency distribution of some variable.

# Let's show the distribution of the ages of passengers on the Titanic.

In [ ]:
ages = titanic_df['Age']
plt.hist(ages)

# Note that this illustrates the total count (y-axis) of the ages (x-axis) of the passengers separated into 10 bins.

# We can show a probability density of ages in each bin instead of the total count by changing to a density chart

In [ ]:
plt.hist(ages, density=True);

# We can also change the number of bins from the default to make the histogram more or less granular, and add titles, labels, and gridlines to make it more readable.

In [ ]:
plt.hist(ages, bins=20)

plt.xlabel('Age')
plt.ylabel('Passengers')
plt.title('Distribution of Passengers Ages')
plt.grid(True)

From this distribution, we can see that most of the passengers were in the age range of about 20 to 40.

We can also see that there were many young children aboard, and relatively few passengers over the age of 70.

# To create scatter plots, use Matplotlib's matplotlib.pyplot.scatter function.

# It expects two lists of values representing x and y coordinates.

# Extract the Age and Fare columns from the Titanic data set in next cell. You know the code

In [ ]:
age = titanic_df['Age']
# Your code to extract 'fare' column in the fare variable

# Plotting the scatter plot.

In [ ]:
plt.scatter(x=age, y=fare)

# We can also plot multiple datasets on the same chart.

# Guess the outputs of the following before running the code.

In [ ]:
age_m = titanic_df[titanic_df['Sex'] == 'male']['Age']
fare_m = titanic_df[titanic_df['Sex'] == 'male']['Fare']
age_f = titanic_df[titanic_df['Sex'] == 'female']['Age']
fare_f = titanic_df[titanic_df['Sex'] == 'female']['Fare']

# Find the age and fare of the females in next cell.

In [ ]:
age_f = titanic_df[titanic_df['Sex'] == 'female']['Age']
fare_f = titanic_df[titanic_df['Sex'] == 'female']['Fare']

# Plotting multiple scatter plots.

# Guess the outputs of the following before running the code.

In [ ]:
plt.scatter(x=age_m, y=fare_m)
plt.scatter(x=age_f, y=fare_f)
plt.legend(['male', 'female'])

# **Activity**

# In the following cell, we will generate a list of random house sizes and associated costs. Additionally, you will learn how to use a 'for' loop in Python.

# We've provided sample code for your convenience. However, please remember to set the 'seed' variable to match your SID. For instance, if your SID is 8426, then set 'seed = 8426'.

In [ ]:
random_numbers = [0.6, 0.61, 0.61, 0.63, 0.64, 0.64, 0.640, 0.650, 0.655, 0.66, 0.680, 0.680, 0.70, 0.705, 0.710, 0.715, 0.720, 0.720, 0.720, 0.730 ]
house_size = []
seed = Your SID # Set seed as your SID

for x in random_numbers:
  house_size.append (seed*x)

cost = [3, 3.2, 3.4, 3.4, 3.5, 3.7, 3.4, 3.7, 3.8, 3.9, 4.0, 3.95, 4.0, 4.2, 4.4, 4.3, 4.2, 4.1, 4.4, 4.6 ]

print (house_size)
print (cost)

# Create a well-designed scatter plot comparing 'House Size' to 'Cost'..

# Based on the scatter plot you've generated, make a guess for the cost of a slightly larger house with a size of SID*0.75 (Do not worry about the correctness of your guess).

# `Please make sure to document the following in your logbook:`

# `Include an image of the generated scatter plot between house size and cost. Copy the figure and paste it into your logbook.`

# `Record the guess you made for the cost of a slightly larger house with a size of SID*0.75. Don't worry if your guess is incorrect`

In [ ]:
# Your code to create a scatter plot - size vs cost

# **Optional part**

# The remainder of the notebook is optional. We recommend that you consider completing it either during the lab session or at home to further enhance your Python knowledge.

# However, please note that we will not deduct marks if you choose not to complete it.

# **3D Plots**

You can also plot that data on a third axis by setting the projection to 3d when calling the axes function.

But, first extract the age, fare, and pclass in the next cell. You know the code.

In [ ]:
# age  =  your code to extract all age values from dataframe
# fare = your code to extract all fare values from dataframe
# pclass = your code to extract all pclass values from dataframe

Plotting the 3d figure in next cell

In [ ]:
fig = plt.figure(figsize=(9, 9))

ax = plt.axes(projection='3d')
ax.scatter(xs=age, ys=fare, zs=pclass)

ax.set_xlabel('Age')
ax.set_ylabel('Fare')
ax.set_zlabel('Class')

Changing the colour

In [ ]:
fig = plt.figure(figsize=(9, 9))

ax = plt.axes(projection='3d')
ax.scatter(xs=age, ys=fare, zs=pclass, c=pclass, cmap='brg')

ax.set_xlabel('Age')
ax.set_ylabel('Fare')
ax.set_zlabel('Class')

# **Pie Chart**

In [ ]:
x = titanic_df['Sex'].value_counts()

plt.pie(x)

Without labels, we can't really understand what even the most basic pie chart means.

In [ ]:
plt.pie(x, labels=['Male', 'Female']);

That's better, but what if we want the first slice to start at the 12 o'clock position, which is standard? The default seems to be starting at 3 o'clock. We can do that by specifying a startangle.

In [ ]:
plt.pie(x, labels=['Male', 'Female'], startangle=90);

You can separate one or more slices from the rest of the chart using the explode parameter.

In [ ]:
plt.pie(x, labels=['Male', 'Female'], startangle=90, explode=[0.1, 0]);

Finally, we can display the percentage that each slice represents using the autopct parameter by setting it to a format specifier.

In [ ]:
plt.pie(x, labels=['Male', 'Female'], startangle=90, autopct='%.1f%%');

 # **Subplots**

 Let's draw two pie charts from the Titanic dataset in one grid, side-by-side.

---

In [ ]:
s_vals = titanic_df['Sex'].value_counts()
e_vals = titanic_df['Embarked'].value_counts()

fig, axes = plt.subplots(1, 2) # create a grid with 1 row, 2 columns
fig.set_size_inches(8, 4) # make the figure wide

# Create a pie chart in the first grid slot
axes[0].pie(s_vals, labels=['Male', 'Female'], startangle=90, autopct='%.1f%%')
axes[0].set_title('Sex')

# Create a pie chart in the second grid slot
axes[1].pie(e_vals, labels=['S', 'C', 'Q'], startangle=90, explode=[0, 0.1, 0])
axes[1].set_title('Embarked')

You don't have to create the same kind of chart in each grid space.

In [ ]:
fig, axes = plt.subplots(1, 3) # create a grid with 1 row, 3 columns
fig.set_size_inches(12, 4) # make the figure wide

# Create a pie chart in the first grid slot
axes[0].pie(s_vals, labels=['Male', 'Female'], startangle=90, autopct='%.1f%%')
axes[0].set_title('Sex')

# Create a box plot in the second grid slot
age = titanic_df['Age'].dropna() # Drop missing values before plotting or the boxplot will be empty
axes[1].boxplot(age, labels=['Age']);

# Create a scatter plot in the third grid slot
age = titanic_df['Age']
fare = titanic_df['Fare']
axes[2].scatter(x=age, y=fare)

# **Annotating the plot**
We can add text inside the plot.

Remember, earlier we plotted sin(x) finction.

We will write the name of the function inside the plot.

In [ ]:
x = np.linspace(start=-np.pi, stop=np.pi, num=256)
y = np.sin(2*x)

fig = plt.figure(figsize=(8, 5))
plt.plot(x, y)
plt.text(-1.65, 0.5, 'y = sin(2x)', fontsize=14)

Reference: https://www.kaggle.com/code/bcruise/matplotlib-basics-tutorial